* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  margin: 0;
  width: 100vw;
  height: 100vh;
  font-family: "Lato", sans-serif;
}

.flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.column {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.space-btwn {
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.gradients {
  background: linear-gradient(117.45deg, #69e805 0%, #03b50a 100%);
}

.video-box {
  background: #565e73;
  height: 100vh;
  width: 100%;
}

.relic-chat {
  width: 100vw;
  height: 100vh;
  overflow: hidden;
}

@media only screen and (min-device-width: 320px) and (max-device-width: 480px) and (-webkit-min-device-pixel-ratio: 2) {
  .relic-chat {
    overflow-x: visible;
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 100vw 100vw;
        grid-template-columns: 100vw 100vw;
    -webkit-transform: translateX(0);
            transform: translateX(0);
    will-change: transform;
    -webkit-transition: -webkit-transform 0.3s ease-out;
    transition: -webkit-transform 0.3s ease-out;
    transition: transform 0.3s ease-out;
    transition: transform 0.3s ease-out, -webkit-transform 0.3s ease-out;
  }
}

@media screen and (min-device-width: 1200px) and (max-device-width: 1600px) and (-webkit-min-device-pixel-ratio: 1) {
  .relic-chat {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 67vw auto;
        grid-template-columns: 67vw auto;
  }
}

.message-box {
  background-color: white;
  height: 100vh;
  position: relative;
  padding: 0 10px;
  overflow: hidden;
}

.chat-header {
  top: 0;
  right: 0;
  width: 100%;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.overflow-hidden {
  overflow: hidden;
}

.scroll-y {
  overflow-y: scroll !important;
}

.feint {
  color: #565e73;
}

.none {
  display: none;
}

.center {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media only screen and (min-device-width: 320px) and (max-device-width: 480px) and (-webkit-min-device-pixel-ratio: 2) {
  .none {
    display: inline-block;
  }
}

@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (-webkit-min-device-pixel-ratio: 1) {
  .none {
    display: none;
  }
}

@media screen and (min-device-width: 1200px) and (max-device-width: 1600px) and (-webkit-min-device-pixel-ratio: 1) {
  .none {
    display: none !important;
  }
}

.App {
  overflow: hidden;
}

.slide-container {
  height: 100vh;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  overflow: hidden;
  scrollbar-width: none;
  -webkit-transform: translateX(0);
          transform: translateX(0);
  will-change: transform;
  -webkit-transition: -webkit-transform 0.3s ease-out;
  transition: -webkit-transform 0.3s ease-out;
  transition: transform 0.3s ease-out;
  transition: transform 0.3s ease-out, -webkit-transform 0.3s ease-out;
  width: 200%;
}

@media screen and (min-device-width: 1200px) and (max-device-width: 1600px) and (-webkit-min-device-pixel-ratio: 1) {
  .slide-container {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 67vw auto;
        grid-template-columns: 67vw auto;
    width: 100%;
  }
}

.slide-container .slide {
  height: 100vh;
  cursor: default;
  width: 100vw;
}

@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (-webkit-min-device-pixel-ratio: 1) {
  .slide-container .slide {
    width: 100%;
  }
}

@media screen and (min-device-width: 1200px) and (max-device-width: 1600px) and (-webkit-min-device-pixel-ratio: 1) {
  .slide-container .slide {
    width: 100%;
  }
}

.blue {
  background-color: blue;
}

.red {
  background-color: red;
}
/*# sourceMappingURL=App.css.map */